<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>goBLC| {%block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="" rel="stylesheet">

    <style>
      @media (min-width: 768px){
        /* pull navbar right on large screens */
        .navbar-default .navbar-collapse, .navbar-default .navbar-form{
          float:right !important
        }
      }
    </style>


<script type="text/javascript">
$(".alert").alert();
</script>

  </head>

  <body style="padding-top:50px;">

<!-- alerts -->
{% if match %}
  <div class="alert alert-warning fade in text-center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <div class="container">
      You have a <a href="{% url 'match_page' match.id %}">pending</a> match. Remember to have the team leader <a href="{% url 'match_report' %}">report the score when completed</a>
      </div>
    </div>

{% endif %}
<!-- alerts -->

   
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="/">goBLC</a>

        </div>
        <div class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if  user.is_authenticated %}
              <b>{{ user.username }}</b>
              {% else %}
              Account
              {% endif %}
              <b class="caret"></b></a>
                <ul class="dropdown-menu">


                  {% if  user.is_authenticated %}
                  <li><a href="{% url 'user' user.id %}">View Profile</a></li>
                  <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                  <li><a href='{% url 'logout' %}'>Logout</a></li>
                  {% endif %}

                  {% if not user.is_authenticated %}
                  <li><a href='{% url 'login' %}'>Login</a></li>
                  <li><a href='{% url 'register' %}'>Register</a></li>
                  {% endif %}

                  {% if not user.player.is_on_team %}
                  <li class="divider"></li>
                  <li><a href='{% url 'join_team' %}'>Join team</a></li>
                  <li><a href='{% url 'make_team' %}'>Make team</a></li>

                  {% elif user.player.is_on_team %}
                  <li class="divider"></li>
                  <li><a href="{% url 'team_page' user.player.on_team.id %}">{{ user.player.on_team.name }}</a></li>
                  <li><a href='{% url 'leave_team' %}'>Leave team</a></li>

                    {% if perms.news %}
                      <li class="divider"></li>
                      <li><a href="{% url 'make_post' %}"><b class="danger">NEWS POST</b></a></li>
                    {% endif %}

                  {% endif %}

                </ul>
            </li>
            <li><a href="#about">Teams</a></li>
            <!-- <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    
    
    <div class="container"> <!-- main contain -->
    <br><br>


    <div class="col-lg-3 col-md-3" >

      <div class="panel panel-default">

      <div class="panel-heading">
      <a href="{% url 'season_page' season.id %}">
      <h5 style="margin:.5%;">Season</h5></a></div>
            <div id="season" class="panel-collapse collapse in">
        <div class="panel-body small">
          <ul class="list-unstyled">
            <li><a href="{% url 'season_page' season.id %}">Season {{season.id}}</a></li>
            <li>Matches</li>
            <li>Teams</li>
          </ul>
        </div>
      </div>


      <div class="panel-heading">
        <a href="{% url 'pybb:index'  %}">
        <h5 style="margin:.5%;">Forums</h5></a></div>

        <div id="forumlist" class="panel-collapse collapse in">
          <div class="panel-body small">
            <ul class="list-unstyled">
            {% for post in newspost %}
                <li><span class="glyphicon glyphicon-exclamation-sign" style="color:red;"></span> <a href="{% url 'news_post' post.id %}">{{ post.title|truncatechars:35}}</a></li>
            {% endfor %}


            {% for fp in forumposts %}
            <li>
            <span class="glyphicon glyphicon-user" style="color:#cecece;"></span>
            <a href="{% url 'pybb:topic' fp.id  %}">
            <!-- {{fp.summary|striptags|truncatechars:35}} -->
            {{fp.name|striptags|truncatechars:35}}
            </a>
            </li>
            {% endfor %}

            </ul>
          </div>
        </div>
    </div>


    </div>

    <div class="col-lg-9 col-md-9 ">    
    {% block content %}

    {% endblock %}
    </div>
    

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src='/Users/albert/fnmleague/dja/bs/js/bootstrap.min.js'></script>

  </body>
</html>
