
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>goBLC| {%block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      @media (min-width: 768px){
        /* pull navbar right on large screens */
        .navbar-default .navbar-collapse, .navbar-default .navbar-form{
          float:right !important
        }
      }

    </style>

  </head>

  <body style="padding-top:50px;">
   
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="/">goBLC</a>

        </div>
        <div class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if  user.is_authenticated %}
              <b>{{ user.username }}</b>
              {% else %}
              Account
              {% endif %}
              <b class="caret"></b></a>
                <ul class="dropdown-menu">


                  {% if  user.is_authenticated %}
                  <li><a href="{% url 'user' user.id %}">View Profile</a></li>
                  <li><a href="/user/edit/">Edit Profile</a></li>
                  <li><a href='/accounts/logout/'>Logout</a></li>
                  {% endif %}

                  {% if not user.is_authenticated %}
                  <li><a href='/accounts/login/'>Login</a></li>
                  <li><a href='/accounts/register/'>Register</a></li>
                  {% endif %}

                  {% if not user.player.is_on_team %}
                  <li class="divider"></li>
                  <li><a href='/team/join_team/'>Join team</a></li>
                  <li><a href='/team/make_team'>Make team</a></li>

                  {% elif user.player.is_on_team %}
                  <li class="divider"></li>
                  <li><a href="{% url 'team_page' user.player.on_team.id %}">{{ user.player.on_team.name }}</a></li>
                  <li><a href='{% url 'leave_team' %}'>Leave team</a></li>

                    {% if perms.news.add_newspost %}
                      <li class="divider"></li>

                      <li><a href="{% url 'make_post' %}"><b class="danger">NEWS POST</b></a></li>
                    {% endif %}

                  {% endif %}

                </ul>
            </li>
            <li><a href="#about">Teams</a></li>
            <!-- <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    
    

<!--     <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
    
    {% if not user.is_authenticated %}
        <a href='/accounts/register/'>Register</a>
        <br>
        <a href='/accounts/login/'>Login</a>
    {% endif %}

    {% if  user.is_authenticated %}
        <p>Logged in as <a href='{% url 'user' user.id %}'>{{ user.username }}.</a> </p>
        <p><a href='/user/edit/'>Edit</a></p>
        {% if not user.player.is_on_team %}
        <a href='/team/join_team/'>Join</a> or
        <a href='/team/make_team'>Make</a> a team.
        <br>
        {% endif %}
        <a href='/accounts/logout/'>Logout</a>
    {% endif %}
    
    </div>
    </div> -->
    <div class="container"> <!-- main contain -->
    <br><br>
    <div class="col-lg-3" >
    
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#forumlist">
            <h5 style="margin:.5%;">Forums</h5></a></div>

            <div id="forumlist" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="list-unstyled">
        {% for post in newspost %}
            <li> <a href='{% url 'post' post.id %}'>{{ post.title|truncatechars:33 }}</a></li>
        {% endfor %}
          <li><a href="">Link</a></li>
          <li><a href="">Link</a></li>
          <li><a href="">Link</a></li>
        </ul>


      </div>
    </div>
    </div>


    </div>


    </div>

    <div class="col-lg-7 col-lg-offset-0">
    
    {% block content %}



    {% endblock %}
    </div>
    

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src='/Users/albert/fnmleague/dja/bs/js/bootstrap.min.js'></script>

  </body>
</html>
