{% extends 'base.html' %}

{% block title %}
{{t.name}}
{% endblock %}

{% block content %}

<h2> {{ team.name }} </h2>


<p> {{ team.bio }} </p>

<div class='row'>
<div class="col-lg-2 col-lg-offset-10" style="background:#cecece; ">
{% for p in team.listPlayers %}


<p> <a href="{% url 'user' p.player.user.id %}">{{ p.player.user.username }} </a>  </p>

{% endfor %}
</div>
</div>



<br><br>

<div style="background:#cecece;">

{% for m in team_matches %}
<a href="{% url 'match_page' m.id %}">
	{% if m.status = '2' %}
	<strong>
	{% endif %}
	{{m.home}}
	</strong>
	 vs. 
	{% if m.status = '3' %}
	<strong> {% endif %}

	{{m.away}}
	</strong>
</a>
<br>
{% endfor %}
</div>


{% endblock %}